*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width:100vw;
    position:relative;
    background-color: #F4F4F4;
}
#container{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    position:absolute;
    top:130px;
    left:70px;
    height:60%;
    width:25%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#checkbox {
    display: none;
  }
  
  .switch {
    position: relative;
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(46, 46, 46);
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    transition: all 0.3s;
  }
  .switch svg path {
    fill: white;
  }
  #checkbox:checked + .switch {
    background-color: rgb(174, 0, 255);
    box-shadow: 0px 0px 40px rgba(174, 0, 255, 0.438);
  }
  

 
.button {
    width: 122px;
    height: 60px;
    padding: 18px 22px 18px 20px;
    gap: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff284818;
    border-radius: 16px;
    border: none;
    cursor: pointer;
  }
  
  .label {
    font-family: sans-serif;
    height: 23px;
    font-size: 19px;
    line-height: 24px;
    color: #FF2849;
  }
  
  .button:hover {
    background: #ff284839;
  }
  
  .button:hover .svg-icon {
    animation: pulse 0.7s linear infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.13);
    }
  
    100% {
      transform: scale(1);
    }
  }

  #container h4{
    font-weight:100;
  }

  .slider-container {
    margin-top: 20px;
}

.slider-container label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

#speedSlider {
    width: 100%;
}

#speedValue {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
}